body {
  h1 {
    color: green;
    text-align: center;
  }
}

img {
	width: 300px;
	height: auto;
	margin-top: -23px;
}

.searchbar{
	margin-top: 7px;
}

.searchedImages{
  width: 300px;
  height: 300px;
  margin: 5px;
}