body {
  h1 {
    color: green;
    text-align: center;
  }
}

img {
	width: 300px;
	height: auto;
	margin-top: -23px;
}

.searchbar{
	margin-top: 7px;
}

.boards{
	display: inline-block;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
}

.imgSize{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	width: 100px;
}

.searchedImages{
 width: 300px;
 height: 300px;
 margin: 5px;
}