<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand" href="#"><img class="header" src="img/pinteresting-tlo.png"></a>
    </div>
      
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" ng-repeat="navItem in navItems" ng-show="user">
                    <li><a href="{{navItem.url}}">{{navItem.name}}</a></li>
                </ul>
        </div>
      
    </div><!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
